---
import Card from "../Card/Index.astro";
---

<section class="bg-black flex flex-col items-center py-5">
	<span>
		<img src="./NuestrosProyectos.svg" />
	</span>
	<section class="flex flex-col md:flex-row flex-wrap justify-center p-4 md:p-6 gap-5 bg-black">
		<Card
			game_image={'Header_image_Black&White.jpg'}
			game_name={"Trucking Empire"}
			game_visits={"+20M"}
			game_normal={"+10K"}
		/>
	
		<Card
			game_image={'Unknowed_game.png'}
			game_name={"Cooming soon"}
			game_visits={"?"}
			game_normal={"?"}
			game_url={"https://www.youtube.com/"}
		/>
	
		<Card
			game_image={'Unknowed_game.png'}
			game_name={"Cooming soon"}
			game_visits={"?"}
			game_normal={"?"}
			game_url={"https://www.youtube.com/"}
		/>
	
		<Card
			game_image={'Unknowed_game.png'}
			game_name={"Cooming soon"}
			game_visits={"?"}
			game_normal={"?"}
			game_url={"https://www.youtube.com/"}
		/>
	
		<Card
			game_image={'Unknowed_game.png'}
			game_name={"Cooming soon"}
			game_visits={"?"}
			game_normal={"?"}
			game_url={"https://www.youtube.com/"}
		/>
	</section>
  </section>