---
 import TeamCard from '../OurTeam/index.astro';
---
<section class='flex flex-col justify-center my-10 text-white '>
 <div>
    <div class='py-5'>
      <h1 class="text-3xl text-center">Quienes hacen posible esta aventura</h1>
      <h2 class="text-2xl text-center font-thin text-violet-500 font-serif">Principales contribuidores del proyecto</h2>
    </div>
 </div>
 <div class='flex justify-center gap-4 bg-black py-5'>
    <TeamCard />
 </div>
</section>
