---
import Layout from "../layouts/Layout.astro";
import TeamCard from "../components/OurTeam/index.astro"
---

<Layout pageTitle="Inicio | M&C Games Studio">
    <main class="p-4 bg-black">
        <TeamCard/>
    </main>
</Layout>
