---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar/index.astro';
import Button from '../components/Button/index.astro';
---

<Layout pageTitle='Inicio | M&C Games Studio'>
	<section class='bg-[url("./Header_image_Black&White.jpg")] bg-cover h-screen shadow-[inset_0px_-170px_100px_-50px_rgba(0,0,0,1)]'>
		<NavBar destination={'#'}/>
		<section class='flex justify-center pt-52'>
			<div class='flex flex-col items-center gap-20 mx-4'>
				<img src={'./Header-Text_Image.png'} alt="">
				<section>
					<Button img={'./Roblox_Logo.png'} content={'Entrar al grupo'}/>
					<Button img={'X_Logo.svg'} content={'Seguir en X'}/>
				</section>
				<section class='mt-20 animate-up-down'>
					<img src={'./ScrollDown.svg'} alt="Scroll" class='w-32'>
				</section>
			</div>
		</section>
	</section>
</Layout>