<section class="bg-black text-white py-20">
  <div class="flex overflow-hidden gap-16 relative shadow-lg">
    <div class="flex gap-16 animate-loop-scroll">
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
      <img src="./logoIpsum.svg" alt="LogoIpsum" />
    </div>
  </div>
</section>
